@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="left">
        <h1 class="display-4">Welcome</h1>
        <p>The Joel Hilton Film Collection</p>
    </div>
    <div class="right">
        <img src="/images/JoelHiltonHeadshot.jpg" alt ="NotHilton"/>
    </div>
</div>