@{
    ViewData["Title"] = "More Joel";
}

<div class="more-center">
    <h1>Get to Know Joel</h1>
    <div class="links">
        <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
        <a href="https://baconsale.com/">Baconsale Site</a>
        <br />
        <a href="https://baconsale.com/"><img src="/images/BaconsaleKate.jpg" alt="Baconsale" /></a>
    </div>
</div>